.background-container{
  background: linear-gradient( #ff9a9e, #fad0c4);
  background-size: cover;
  height: 100vh;
  
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}